<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboradadmin">
        <i class="bi bi-grid-fill"></i>
        <span>Tableau de bord</span>
      </a>
    </li>
    <!-- End Dashboard Nav -->

    <!-- End Components Nav -->

    <!-- End Forms Nav -->

    <!-- End Tables Nav -->

    <!-- End Charts Nav -->

    <!-- End Icons Nav -->

    <li class="nav-heading" style="margin-left: 50px">{{ roles }}</li>

    <li class="nav-item">
      <a
        class="nav-link collapsed"
        data-bs-target="#components-nav"
        data-bs-toggle="collapse"
        routerLink="/profile"
      >
        <i class="bi bi-person-badge"></i>
        <span>Profile</span>
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link collapsed"
        data-bs-target="#components-nav"
        data-bs-toggle="collapse"
        routerLink="/list-user"
      >
        <i class="bi bi-person-fill"></i>
        <span>Utilisateurs</span>
      </a>
    </li>
    <!-- End Profile Page Nav -->

    <!-- End F.A.Q Page Nav -->

    <!-- End Contact Page Nav -->

    <li class="nav-item">
      <a
        class="nav-link collapsed"
        data-bs-target="#components-nav"
        data-bs-toggle="collapse"
        routerLink="/list-professeur"
      >
        <i class="bi bi-person-circle"></i>
        <span>Professeurs</span>
      </a>
    </li>
    <!-- End Register Page Nav -->

    <li class="nav-item">
      <a
        class="nav-link collapsed"
        data-bs-target="#components-nav"
        data-bs-toggle="collapse"
        routerLink="/list-etudiant"
      >
        <i class="bi bi-person-square"></i>
        <span>Etudiants</span>
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link collapsed"
        data-bs-target="#components-nav"
        data-bs-toggle="collapse"
        routerLink="/list-classe"
      >
        <i class="bi bi-people-fill"></i>
        <span>Classes</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="/list-matiere">
        <i class="bi bi-pencil-fill"></i>
        <span>Matiéres</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="/list-cour">
        <i class="bi bi-book-half"></i>
        <span>Cours</span>
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link collapsed"
        data-bs-target="#components-nav"
        data-bs-toggle="collapse"
        routerLink="/login"
      >
        <i class="bi bi-box-arrow-in-right"></i>
        <span>S'authentifier</span>
      </a>
    </li>
    <!-- End Login Page Nav -->

    <!-- End Error 404 Page Nav -->

    <!-- End Blank Page Nav -->
  </ul>
</aside>
