<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard">
        <i class="bi bi-grid-fill"></i>
        <span>Tableau de bord</span>
      </a>
    </li>
    <!-- End Dashboard Nav -->

    <!-- End Components Nav -->

    <!-- End Forms Nav -->

    <!-- End Tables Nav -->

    <!-- End Charts Nav -->

    <!-- End Icons Nav -->

    <li class="nav-heading" style="margin-left: 50px">{{ roles }}</li>
    <li class="nav-item">
      <a
        class="nav-link collapsed"
        data-bs-target="#components-nav"
        data-bs-toggle="collapse"
        routerLink="/profile-professeur"
      >
        <i class="bi bi-person-fill"></i>
        <span>Profile</span>
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link collapsed"
        data-bs-target="#components-nav"
        data-bs-toggle="collapse"
        routerLink="/list-document"
      >
        <i class="bi bi-file-earmark-pdf-fill"></i>
        <span>Documents</span>
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link collapsed"
        data-bs-target="#components-nav"
        data-bs-toggle="collapse"
        routerLink="/list-vedio"
      >
        <i class="bi bi-cone-striped"></i>
        <span>Videos</span>
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link collapsed"
        data-bs-target="#components-nav"
        data-bs-toggle="collapse"
        routerLink="/list-reunion"
      >
        <i class="bi bi-camera-reels-fill"></i>
        <span>Réunions</span>
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link collapsed"
        data-bs-target="#components-nav"
        data-bs-toggle="collapse"
        routerLink="/list-examen"
      >
        <i class="bi bi-folder-fill"></i>
        <span>Examens</span>
      </a>
    </li>

    <!-- End Profile Page Nav -->

    <!-- End F.A.Q Page Nav -->

    <!-- End Contact Page Nav -->

    <!-- End Register Page Nav -->

    <li class="nav-item">
      <a
        class="nav-link collapsed"
        data-bs-target="#components-nav"
        data-bs-toggle="collapse"
        routerLink="/login"
      >
        <i class="bi bi-box-arrow-in-right"></i>
        <span>S'authentifier</span>
      </a>
    </li>
    <!-- End Login Page Nav -->

    <!-- End Error 404 Page Nav -->

    <!-- End Blank Page Nav -->
  </ul>
</aside>
